.guess-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
}

.guess-button {
  background-color: rgb(205, 35, 35);
  border-radius: 20px;
  margin-left: 10px;
  font-size: 18px;
  padding: 0.4em;
}

.guess-button:hover {
  cursor: pointer;
  background-color: #41aaba;
}
